.todoHeaderContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 20pc;
  margin: auto;
  background-color: white;
  opacity: 0.8;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 55px;
}

.taskNumberLabel span {
  color: rgb(115, 91, 235);
}

.doneTaskNumberLabel span {
  color: green;
}
